.Tag{
    background: rgb(223, 223, 223);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tagList-item{
    background:none;
    cursor: pointer;
}
.tagList-item:hover{
    background:#999;
}